@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@600&family=Lobster&display=swap|Exo:400,500,600,700');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Exo, sans-serif;
    color: #1d0101;
    background-image: linear-gradient(to right top, #eacec5, #e0bebd, #d3afb8, #c1a2b4, #ab96b1);
}
/*header*/

#logo a{
    text-decoration: none;
    color: #290202;
    }
a h1{
    font-style: italic;
    font-family: Cormorant Garamond;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    font-size: 280%;
    line-height: 75px;
    font-weight: 700;
}
#logomark{
    font-style: italic;
    font-family: Cormorant Garamond;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    font-size: 90%;
    letter-spacing: 3px;
    margin-bottom: 5px;
    padding-bottom: 5px;

}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 10px;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #2b013f;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}
hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}


#danceimg-1 {

    background : url("../images/danceimg-1.jpg")no-repeat left center;
    height:370px;
    width: 49%;
    
    margin-left: 3px;
    margin-right: 3px;
    padding:0;
    float: left;
    
    clear: both;
    
    

}
.right-about {
    padding-top: 30px;
    width: 45%;
    float: right;
}

.right-about-heading {
    width: 80%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-top: 15px;
}

.right-about-heading p {
    text-align: center;
}

.right-about-heading h3 {
    text-align: center;
    font-family: Cormorant Garamond;
    font-weight: 700;
}

.right-about-heading a {

    text-decoration: none;
    color: inherit;
    font-family: Exo;
    font-weight: 700;
    text-align: center;
    display:block;

}

#danceimg-2 {

    background : url("../images/danceimg-2.jpg")no-repeat left center;
    height: 370px;
    width: 49%;
    
    margin-left: 3px;
    margin-right: 3px;
    padding:0;
    float: right;
    
    margin-top: 1%;
    clear: both;
  

}

.left-about {
    padding-top: 30px;
    padding-left: 40px;
    width: 49%;
    float: left;
}
.left-about-heading {
    width: 80%;
    
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
    margin-top: 40px;
}

.left-about-heading ul {
    
    list-style-type: square;
}

.left-about-heading h3 {
    text-align: center;
    font-family: Cormorant Garamond;
    font-weight: 700;
}

.left-about-heading a {

    text-decoration: none;
    color: inherit;
    font-family: Exo;
    font-weight: 700;
    text-align: center;
    display:block;

}

#danceimg-3 {

    background : url("../images/danceimg-3.jpg")no-repeat left center;
    height: 370px;
    width: 49%;
   
    margin-left: 3px;
    margin-right: 3px;
    padding:0;
    float: left;
    
    margin-top: 1%;
    clear: both;

    margin-bottom: 13px;

}


footer{
    height: 25px;
    margin-top: 25px;
    padding-top: 25px;
    position: relative;
}


.contacts{
    display : table;  /* Allow the centering to work */
    margin: 0 auto;
}

ul.address {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
    padding-left:0;
    margin-left: 0;
	}
	ul.address li {
		display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
	}

    

    ul.address a {

        text-decoration: none;
        color: inherit;
        font-weight: 700;
       
        font-family: Exo;

    }
    ul.address a:hover{
        border-bottom: 1px solid #2b013f;
    }

.social-networks{
    text-align: center;
    margin-top: 0px;
    padding: 0px;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 140%;
    margin: 1%;
    padding: 2%;
    color: #3a3a3a;
    
}

#danceimg-4 {

    background : url("../images/danceimg-4a.jpg")no-repeat left center;
    height:370px;
    width: 49%;
    
    margin-left: 3px;
    margin-right: 3px;
    padding:0;
    float: left;
    
    clear: both;
     

}

#danceimg-5 {

    background : url("../images/danceimg-5.jpg")no-repeat left center;
    height: 370px;
    width: 49%;
    
    margin-left: 3px;
    margin-right: 3px;
    padding:0;
    float: right;
    
    margin-top: 1%;
    clear: both;
    

}

#danceimg-6 {

    background : url("../images/danceimg-6.jpg")no-repeat left center;
    height:370px;
    width: 49%;
    
    margin-left: 3px;
    margin-right: 3px;
    padding:0;
    float: left;
    
    clear: both;

    

}

#danceimg-7 {

    background : url("../images/danceimg-7.jpg")no-repeat left center;
    height: 370px;
    width: 49%;
    
    margin-left: 3px;
    margin-right: 3px;
    padding:0;
    float: right;
    
    margin-top: 1%;
    clear: both;
  
    margin-bottom: 4px;

}
#disclaimer{
    text-align: center;
    font-family: exo;
    width:100%;
    max-width: 960px;
    margin:auto;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 965px;
    animation: floatText 15s infinite linear;
}

#disclaimer:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes floatText{
    from {
        text-indent: 100%;
    }

    to {
        text-indent: -100%;
    }
}

@media screen and (min-width: 960px) {
    @keyframes floatText{
        from {
            text-indent: 960px;
        }

        to {
            text-indent: -100%;
        }
    }
}



#table1{
    margin-left: auto;
    margin-right: auto;
}


#submit{
       display: block;
        margin: 25px auto;
        background: #57062a;
        color: white;
        font-size: 15px;
        padding: 10px 15px;
        border: 1px solid;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        transition: all 200ms ease-in-out;
        
}
#submit:hover {
    opacity: 0.9;
    cursor: pointer;
    color: black;
    background-color: #f3edeb;
  }

  @media screen and (max-width: 943px){
    .welcome, .service-details{
        width: 100%;
        height: 700px;
        margin: 0 auto;
    }

    

    .left-about, .right-about {
        width:100%;
        float:left;
        padding: 0;
        margin-bottom: 0;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
        margin-bottom: 0;
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 ;
        margin: 0;
    }


    #danceimg-1, #danceimg-2, #danceimg-3, #danceimg-4, #danceimg-5, #danceimg-6, #danceimg-7{
        clear: both;
        width: 140%;
        height: 300px;
        float: none;
        padding: 0;
        border: none;
        margin-left: 0;
        margin-bottom: 0;
            }

   #danceimg-1{
    background : url("../images/danceimg-small-1.jpg")no-repeat left center;  
   }
   #danceimg-2{
    background : url("../images/danceimg-small-2.jpg")no-repeat left center;  
   }
#danceimg-3{
    background : url("../images/danceimg-small-3.jpg")no-repeat left center;  

}
#danceimg-4{
    background : url("../images/danceimg-small-4a.jpg")no-repeat left center;  
}
#danceimg-5{
    background : url("../images/danceimg-small-5.jpg")no-repeat left center;  
}
#danceimg-6
{
    background : url("../images/danceimg-small-6.jpg")no-repeat left center;  
}
#danceimg-7
{
    background : url("../images/danceimg-small-7.jpg")no-repeat left center;  
}
   
}

@media screen and (min-width: 1396px){
    footer{
        height: 30px;
        margin-top: 25px;
        padding-top: 25px;
        position: relative;
    }  
   
}


